<p id="notice"><%= notice %></p>

<h1 class="ui header">People</h1>

<div class="ui grid">
  <% @people.each do |person| %>
    <div class="sixteen wide mobile eight wide tablet four wide computer column">
      <div class="ui card">
        <div class="content">
          <%=
            link_to "#{person.name}", person  %>
        </div>
        <div class="extra content">
          <div class="ui two buttons">
            <div class="ui positive basic button">
              <%= link_to "edit", edit_person_path(person) %>
            </div>
            <div class="ui secondary basic button">
              <%= link_to "Destroy", person,
                method: :delete,
                data: { confirm: "Are you sure" }
              %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="waves-effect waves-teal btn-flat">
<%= link_to 'New Person', new_person_path %>
</div>
